{% extends 'base.html' %}

{% load my_tags  %}

{% block title %}
    <title>主页</title>
{% endblock %}

{% block CSS %}
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/vs.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/screen.min.css">
    <link rel="stylesheet" href="/static/css/ysemm.css">

    <style>
        .carousel-inner .item .img {
            width: 100%;
            height: 400px;
        }

        .martop {
            margin-top: 35px;
            width: 100%;
        }

        .index-main {
            background-color: #fff;
            padding: 20px;
            height: auto;
        }

        .index-list {
            margin-top: 40px;
            background-color: #fff;
            list-style: none;
        }

        .index-list li {
            width: 800px;
            height: 200px;
            margin-top: 40px;
        }

        .index-img {
            width: 300px;
            height: 200px;
            float: left;
            position: relative;
        }

        .index-list .img {
            width: 300px;
            height: 200px;
        }

        .film-time {
            position: absolute;
            right: 2px;
            bottom: 2px;
            color: #F1F1F1;
        }

        .index-text {
            width: 420px;
            height: 200px;
            position: relative;
            /*background-color: red;*/
            float: left;
            margin-left: 20px;
        }

        .index-text h1 {
            font-size: 20px;
            color: #333;
            font-weight: bold;
            line-height: 34px;
        }

        .index-text h1 a {
            color: #333;
        }

        .index-con {
            color: #999;
            font-size: 12px;
            height: 24px;
            line-height: 24px;
            float: left;
        }

        .user {
            color: #666;
            font-weight: bold;
        }

        .rating {
            display: inline-block;
        }

        .rating-holder {
            display: inline-block;
            width: 90px;
            height: 14px;
            background: url("/static/img/star-no.png");
            overflow: hidden;
        }

        .rating-span {
            height: 14px;
            display: inline-block;
            background: url("/static/img/star-yes.png");
            z-index: 1;
        }

        .rating-score {
            display: inline-block;
            color: #F7B42C;
            font-size: 14px;
        }

        .index-intro {
            float: left;
            clear: both;
            width: 100%;
            font-size: 16px;
            line-height: 26px;
        }

        .index-intro a {
            color: #747f8c;
        }

        .index-like {
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            color: #999;
        }

        .post-ope {
            float: right;
        }

        .post-ope a {
            font-size: 12px;
            color: #999;
        }

        .post-comment {
            display: inline-block;
            height: 24px;
            line-height: 24px;
            background: url("/static/img/comment.png") no-repeat 0 0;
            padding: 0 10px 0 24px;
        }

        .post-like {
            /*display: inline-block;*/
            background: url("/static/img/like.png") no-repeat 0 0;
            padding: 0 10px 7px 24px;
        }

        .post-share-btn {
            background: url("/static/img/share.png") no-repeat 0 0;
            padding: 0 2px 7px 24px;
        }


    </style>
{% endblock %}

{% block JS %}
{% endblock %}

{% block body %}
    <!-- 图片轮播 -->
    <div id="carousel-example-generic" class="center-block carousel slide martop" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/static/img/TurnPic/video1.jpg" class="img" alt="pic1">
                <div class="carousel-caption">
                    左耳
                </div>
            </div>
            <div class="item">
                <img src="/static/img/TurnPic/video2.jpg" class="img" alt="pic4">
                <div class="carousel-caption">
                    微微一笑很倾城
                </div>
            </div>
            <div class="item">
                <img src="/static/img/TurnPic/video3.jpg" class="img" alt="pic3">
                <div class="carousel-caption">
                    忘了去懂你
                </div>
            </div>
            <div class="item">
                <img src="/static/img/TurnPic/video4.jpg" class="img" alt="pic1">
                <div class="carousel-caption">
                    花非花雾非雾电视剧
                </div>
            </div>
            <div class="item">
                <img src="/static/img/TurnPic/video5.jpg" class="img" alt="pic1">
                <div class="carousel-caption">
                    真正男子汉第二季空军篇
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--main-->
    <section class="content-wrap martop">
        <div class="container">
            <div class="row">
                <!--left电影列表-->
                <main class="col-md-8 index-main">
                    <ul class="index-list">
                        {% for movie in film_objs %}
                        <li>
                            <div class="index-img">
                                <a href="">
                                    <img src="/media/upload/{{ movie.img }}" class="img">
                                    <span class="film-time">{{ movie.period }} 分钟</span>
                                </a>
                            </div>
                            <div class="index-text">
                                <h1><a href="/film/{{ movie.pk }}/detail/" title="{{ movie.name }}">{{ movie.name }}</a></h1>
                                <div class="index-con">
                                    <span>影片导演：</span>
                                    <a href="" class="user" title="{% get_direction movie %}">{% get_direction movie %}<img src="/static/img/plus-v-p-12.png"></a>
                                    <div class="rating">
                                        <div class="rating-holder">
                                            <span class="rating-span" style="width:66px;"></span>
                                        </div>
                                    </div>
                                    <span class="rating-score">{{ movie.score }}</span>
                                </div>
                                <div class="index-intro">
                                    <a href="">{{ movie.info }}</a>
                                </div>
                                <div class="index-like">
                                    <span>{% get_movietype movie  %}</span>
                                    <div class="post-ope">
                                        <span class="post-comment">{{ movie.comment_num }}</span>
                                        <span class="post-like">{{ movie.like_num }}</span>
                                        <a href="" class="post-share-btn">{{ movie.share_num }}</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>


                    <nav class="pagination" role="navigation">
                        <span class="page-number">第 1 页 / 共 5 页</span>
                        <a class="older-posts" href="#"> <i class="fa ">1</i> </a>
                        <a class="older-posts" href="#"> <i class="fa ">2</i> </a>
                        <a class="older-posts" href="#"> <i class="fa ">3</i> </a>
                        <a class="older-posts" href="#"> <i class="fa ">4</i> </a>
                        <a class="older-posts" href="#"> <i class="fa ">5</i> </a>
                    </nav>
                </main>
                <!--right标题栏-->
                <aside class="col-md-4 sidebar">
                    <div class="widget">
                        <h4 class="title">社区</h4>
                        <div class="content community">
                            <p>QQ群：462694081</p>
                            <p><a href="#" title="电影社区"><i class="fa fa-comments"></i> 问答社区</a></p></div>
                    </div>

                    <div class="widget"><h4 class="title">热门频道</h4>
                        <a href="#" class="btn btn-default btn-block">电影自习室</a>
                        <a href="#" class="btn btn-default btn-block">创意</a>
                        <a href="#" class="btn btn-default btn-block">旅行</a>
                        <a href="#" class="btn btn-default btn-block">科幻</a>
                        <a href="#" class="btn btn-default btn-block">运动</a>
                    </div>

                    <div class="widget">
                        <h4 class="title">热门活动</h4>
                        <a href="#" class="btn btn-block ">
                            <img src="/static/img/activity/r_item1.jpg" alt="..." class="img-thumbnail">
                        </a>
                        <a href="#" class="btn btn-block">
                            <img src="/static/img/activity/r_item2.jpg" alt="..." class="img-thumbnail">
                        </a>
                        <a href="#" class="btn btn-block">
                            <img src="/static/img/activity/r_item3.jpg" alt="..." class="img-thumbnail">
                        </a>
                        <a href="#" class="btn btn-block">
                            <img src="/static/img/activity/r_item4.png" alt="..." class="img-thumbnail">
                        </a>
                        <a href="#" class="btn btn-block">
                            <img src="/static/img/activity/r_item5.jpg" alt="..." class="img-thumbnail">
                        </a>
                        <a href="#" class="btn btn-block">
                            <img src="/static/img/activity/r_item6.jpg" alt="..." class="img-thumbnail">
                        </a>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
